.main-dialogDiv {
    position: relative;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;

    mat-progress-bar {
        position: absolute;
        left: -24px;
        right: -24px;
        top: 0px;
        width: calc(100% + 48px);
    }
}

h1 {
    color: white;
    font-size: 35px;
    font-weight: 700;
}

.buttonClass {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    button {
        height: 5vh;
        width: 6vw;
        font-size: 18px;
    }
}